body{
	padding: 0;
	margin: 0;
	background: #f1fff5;
}

.navbar{
	background: #9FD4AE;
	padding: 10px;
}
.nav-link,
.navbar-brand{
	cursor: pointer;
	color: #000000;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
}
.nav-item{
	margin: 10px;
}
.nav-link:hover{
	color: #808080;
}

.pamflet{
	padding: 15px 10px 20px;
	position: relative;
}
.buka{
	width: 100%;
}
.ticket{
	width:350px;
	padding:  5px 0 15px;
}
.wahana{
	width: 100%;
	padding: 5px 0;
}

.content{
	background-color: #9FD4AE;
	margin-bottom: 30px;
}
.form{
	box-shadow: 0px 0px 7px rgb(189, 187, 187);
}
.tittle{
	padding-top: 10px;
	font-size: 17px;
	font-weight: 650;
	font-family: josefin sans;
	text-transform: uppercase;
}
form{
	padding-bottom: 10px;
}
.int{
	font-size: 14px;
	font-weight: 600;
	font-family: josefin sans;
}
.isi{
	width: 350px;
	height: 25px;
	font-size: 14px;
}
.text{
	height: 30px;
	font-size: 14px;
}
.opt{
	font-size: 14px;
}
.send{
	padding: 0 10px;
	font-size: 14px;
	font-weight: 600;
	font-family: josefin sans;
}
.clear{
	padding: 0 8.1px;
	font-size: 14px;
	font-weight: 600;
	font-family: josefin sans;
}

.page-footer{
	background-color: #9FD4AE;
	padding: 12px;
}
.copyright{
	font-size: 15px;
	text-align: center;
	font-family: josefin sans;
}
.us{
	padding: 5px;
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
}
.contact{
	padding-left: 10px;
	font-size: 14px;
}
.mb-3{
	padding: 3px;
}
label{
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
}
.email{
	font-size: 15px;
}
.com{
	font-size: 15px;
}
.comment{
	margin-left: 1px;
}
.form-control{
	background-color: #f1fff5;
}
.submit{
	color: black;
	background-color: #f1fff5;
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}
.submit:hover{
	color: white;
	background-color: #78a184;
}

@media (max-width: 1024px){
	.ticket{
		width: 300px;
		padding: 5px;
	}
	
	.us{
		margin-left: 9px;
		padding-left: 3.5px;
	}
	.contact{
		margin-left: 10px;
		padding-left: 4px;
	}
}

@media (max-width: 768px){
	.nav-link,
	.navbar-brand{
		font-size: 15px;
	}
	
	.tittle{
		font-size: 14px;
	}
	.ticket{
		width: 220px;
		padding: 5px;
	}
	.int{
		font-size: 13px;
	}
	.send{
		font-size: 13px;
	}
	.clear{
		font-size: 13px;
	}
	.isi{
		width: 200px;
		height: 20px;
	}
	
	.copyright{
		font-size: 13px;
	}
	.us{
		font-size: 14px;
	}
	.contact{
		font-size: 13px;
	}
	.mb-3{
		margin-left: 10px;
		padding-left: 3px;
	}
	label{
		font-size: 14px;
	}
	.email{
		font-size: 13px;
	}
	.com{
		font-size: 13px;
	}
	.submit{
		font-size: 13px;
	}
}